<div id="wrapper">
    <div>
        <div class="towers_defense" style="text-align: center; display: inline-block; width: 20vw, width: 100%;">
            <canvas height="280px" width="500px" style="border:1px solid" id="mycanvas" class="towers_defense"></canvas>
            <div id="score"></div>
            <div id="upgrade">
                <div id="upgrade_tower_text">Upgrade Towers</div>
                <br>
                <div id="upgradeMultiplier"></div>
                <br>
                <div id="upgradeCost"></div>
                <br>
                <button id="restart" class="button">restart</button>
            </div>
            <div id="money"></div>
            <div id="lives"></div>
        </div>
        <div>
            <div draggable="true" class="drag_select" id="tower1"></div>
        </div>
        <div>
            <div draggable="true" class="drag_select" id="tower2"></div>
        </div>
        <button id="start" class="button">start</button>
        <div id="pauseButton"></div>
        <button id="pause" class="button">pause</button>
     
        <div id='directions'>
            <h1 id="instructions-title">HOW TO PLAY</h1>
            <div>
                <p id="instructions">
                    Defend against the hord of goblins with two kinds of towers.
                    <br> Archer Tower: Low damage, High range, Cost: 50
                    <br> Sword Master Dude: High damage, Low range, Cost: 100
                    <br> Survive against the endless horde!!
                </p>
            </div>
        </div>
    </div>
    <img class="towers_defense" id="image" width="80" , height="80" src="https://image.ibb.co/mzqtcx/dawey.png" style="display:none">
    <img class="towers_defense" id="tower_image" width="50" , height="50" src="https://image.ibb.co/cy4VPc/archer.png" style="display:none">
    <img class="towers_defense" id="tower_image1" width="50" , height="50" src="https://image.ibb.co/ixpaqH/sword.png" style="display:none">
    <button type="button" id="play_button">Play Game</button>
    <script type="text/javascript" src="/assets/game.js"></script>
    <script type="text/javascript" src="/assets/towers.js"></script>
    <script type="text/javascript" src="/assets/enemies.js"></script>
    <script type="text/javascript" src="/assets/projectiles.js"></script>
    <script type="text/javascript" src="/assets/audio.js"></script>
    <div id="comments-section">
        <% @comments.each do |c| %>
            <p id="comments">
                <%= c.content %>
            </p>
            <% end %>
                <h1 id="create-a-comment">COMMENT</h1>
                <%= form_for Comment.new do |f| %>
                    <% if user_signed_in? %>
                        <div id="comment-wrapper">
                            <div>
                                <%= f.text_area :content %>
                            </div>
                            <div>
                                <%= f.submit %>
                            </div>
                            <% end %>
                        </div>
                        <% end %>
    </div>
</div>