

<div id="wrapper">
  <div style= "text-align: center; display: inline-block; width: 20vw">
	  <div id='monster'>
	  </div>
	  
	  <div id='grass'>
	  
	  </div>

      <canvas height="250px" width="500px" style="border:5px solid black" id="mycanvas"></canvas>

  </div>

</div>



<!-- <div style= "text-align: center; display: inline-block; width: 20vw"> -->
<!-- <canvas height="280px" width="500px" style="border:1px solid" id="mycanvas"></canvas> -->

<!-- <img id="image"> -->
<script>

var canvas = document.getElementById('mycanvas');
var context = canvas.getContext("2d");
context.beginPath();          
context.moveTo(1, 30);     
context.lineTo(408, 30);
context.lineTo(408, 200);
context.lineTo(95, 200);        
context.lineTo(95, 280);        
context.stroke(); 
context.closePath();
var img = new Image();

img.onload =  function(){
var interval = setInterval(function() {
        var x= -6;
        var y=-16;
      return function () {
        if (x != 370 && y == -16){
        context.drawImage(img, x, y, 80, 80);
           x+=1;
        }
        if (x == 370) {
        context.drawImage(img, x, y, 80, 80);
            y += 1;
        }
        if (y == 152) {
        context.drawImage(img, x, y, 80, 80);
            x-=1;
        }
      };
    }(), 1000/500);
}

img.src = "/assets/dawey.png";

</script>



