<div id="high-score-wrapper">
   <h1 id="highscores">high scores</h1>

  
       <% @users.each do |u| %>
   <div id="scores"><%= u.email %>
   	                    <br>
   	                <%= u.score %>
   </div>

       <% end %>


</div>