/**{
	border: 1px solid white;
}
*/
/*
.field{
	
	margin-right:auto; 
	margin-left:450px;
	/*background-color: red;*/
/*}
.actions{
	margin-right:auto; 
	margin-left:450px;
	background-color:blue;

}*/
#form-wrapper{
	text-align: center;
	margin-right:auto; 
	margin-top:6%;
	margin-left:25%;
	background-color: red;
	font-family: 'Audiowide', cursive;
	height: 50%;
	width: 50%;
	border:1px solid black;
	border-radius: 50%;
	padding-top:3%;
	box-shadow: 5px 5px 5px 5px orange;
}
#forgot-password{
	font-color:orange;
}

