/**{
	border: 1px solid white;
}
*/

.field{
	
	margin-right:auto; 
	margin-left:450px;
	/*background-color: red;*/
}
.actions{
	margin-right:auto; 
	margin-left:450px;
	background-color:blue;

}
/*form-wrapper{
	/*margin-right:auto;*/ 
	/*margin-left:300px;
	background-color: red;
	font-family: 'Audiowide', cursive;
	height: 300px;
	width: 100px;*/

