
#create-a-comment{
	
	margin-top:1%;
	text-align: center;
	font-family: 'Black Ops One', cursive;
	color:red;
	text-shadow: 10px 10px 10px black;
	font-size:6vmax;
	background-color: red;
}
#comment-wrapper{
	padding-top: 2%;
	margin-top:1%;
	text-align: center;
	font-family: 'Black Ops One', cursive;
/*	color:black*//*;*/
	text-shadow: 5px 5px orange;
	background-color:red;


}
#comments{
	text-align: center;
    font-family: 'Audiowide', cursive;
	text-shadow: 2px 2px black;
	font-size: 20pt;
	margin-top: 5%;
	margin-left: auto;
	margin-right:auto;
	height: 50px;
	width: 30%;
	box-shadow: 5px 5px 5px 5px black;
	color:orange;

}
#comments-section{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: red;
	border-bottom: 10px solid black;
}

