// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mycanvas{
	background: url("grid.png");
	background-size:cover;
	background-repeat: no-repeat;
}

#image{
	background: url("dawey.jpg");
	background-size:contain;
	height: 40px;
	width: 70px;
	display:none;
}