*{
	padding: 0%;
	margin: 0%;

}
body{
	background-color: black;
}
#wrapper{
	height:450px;
	width:100%;
	background-color:grey;
	border-top: 5px solid orange;
	border-bottom:5px solid orange;
	background: url(background1.jpg);

}
#game-title{
	text-align: center;
	font-family: 'Audiowide', cursive;
	color:red;
	text-shadow: 2px 2px orange;
	font-size:50pt;
	 
}
#mycanvas{
	background-image: url(grass.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	margin-top: 40%;
	margin-left: 400px;
	margin-right: auto;
	border: 2px solid black;
	background-color: brown;
	box-shadow: 5px 5px 5px 5px black; 
}
#grass{
	/*background-image: url(grass.jpg);
	background-size:cover;
	
	
	margin-left: 400px;
	margin-right: auto;
	position: absolute;
	top:60.5%;
	left:.35%;
	background-color: green;
	height: 70px;
	width: 500px;*/

}
