#high-score-wrapper{
	background-color: gray;
	height:100%;
	width:100%;
}
#highscores{
	margin-top:2%;
	text-align: center;
	font-family: 'Black Ops One', cursive;
	color:red;
	text-shadow: 2px 2px orange;
	font-size:10vmax;
}